body {
	background-color: #99ccff;
}

.to-center {
	width: 80%;
	margin: 0 auto;
}

div.row {
	margin-top: 15px;
}

div.blog-header {
	margin-right: -15px;
	margin-left: -15px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 1px;
	margin-top: -20px;
	margin-bottom: 0px;
	
}

.whited {
	background-color: white;	
	border-radius: 5px;
}

.sidebar-module {
	margin-left: 0;
	padding-left: 15px;
}

.col-sm-9 {
	padding-top: 15px;
}

#pad-footer {
	margin-left: -15px;
	margin-right: -15px;
}

#blog_content {
	 position:static;
	 z-index: inherit;
}